@font-face {
  font-family: Circular;
  src: url('./assets/CircularStdMed.otf');
}
:root {
  --primary-black: #222;
  --dark-gray: #717171;
  --light-gray: #dddddd;
  --primary-red: #ff385c;
  --secondary-red: #d70466;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Circular, Times, sans-serif;
}
body {
  min-height: 100vh;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
}
input {
  font-size: 14px;
}
