.menu-wrapper {
  gap: 10px;
}
h5 {
  font-size: 14px;
}
.user-menu {
  padding: 8px 12px;
  border: solid var(--light-gray) 1px;
  border-radius: 30px;
  cursor: pointer;
  gap: 10px;
  background-color: transparent;
  position: relative;
  transition: transform 0.2s ease-in-out;
}
.user-menu:hover {
  box-shadow: 0px 2px 4px var(--light-gray);
  transform: translateY(-1px);
}
.user-icon {
  color: var(--dark-gray);
  width: 20px;
  height: auto;
}
.user-menu-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 150px;
  top: 40px;
  right: 0;
  border: solid 1px var(--light-gray);
  border-radius: 10px;
  background-color: #fff;
}
h4 {
  width: 100%;
  text-align: left;
  padding: 0.7em;
  border-bottom: solid 1px var(--light-gray);
}
.user-menu-list p {
  width: 100%;
  text-align: left;
  padding: 0.7em;
  border-bottom: solid 1px var(--light-gray);
}
h4 a {
  /* font-weight: 500; */
  display: block;
  color: var(--primary-black);
}
